.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
    padding: 60px 0px;
}

.titulo-principal {
    position: absolute;
    top: 50px;
    left: 0px;
    color: #000000;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    padding-left: 25px;
}

nav {
    position: absolute;
    top: 50px;
    right: 0px;
}

nav li {
    display: inline;
    margin-left: 10px;
    padding-left: 20px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #c78c19;
    text-decoration: underline;
}

#banner {
    width: 100%;
}

.principal {
    background: #cccccc;
    padding: 30px;
}

.titulocentralizado {
    position: relative;
    top: -20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: red;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #ffffff;
    padding: 20px;
}

.beneficio-descriçao {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 5%;
}

.imagembeneficio {
    position: relative;
    right: 0px;
    width: 50%;
}